
#topo {
    margin-top:-20px;
    width:1080px;
    margin-left:20px;
}
#dd1{margin-top:-20px;}
#topo2 {
    margin-left:66%;
    margin-top:-60px;
}
label{
    float:left;
}
#isearch{
    background-color: rgba(1, 29, 35, 0.373);
    width:150px;
    color: rgb(10, 133, 255);
    margin-top:2px;
    margin-left:4px;
}
.black{
    background-color: rgba(0, 0, 0, 0.616);
    background-image:url(imagens/Rei.jpg);
    background-size:cover;
    width:100%;
    height:130px;
    position:relative;

}
span{
    color:white;
}
h1,h2,h3 {
    color: aqua;
}
a{
    text-decoration:none;
}
.link{
   line-height:-20px;
   padding-left:15px;
}
.link:hover{
    color: rgb(52, 107, 236);
}
.link1{
    line-height:-20px;
    padding-left:15px;
 }
#meio{
    margin-top:40px;
    background-color: rgba(74, 74, 74, 0.622);
    border-bottom:2px solid rgba(255, 255, 255, 0.600);
}
body{
    background-image:url(imagens/R.png);
    background-size:cover;
    background-attachment:fixed;
}
.imgep{
    margin-top:12px;
    width:65px;
    height:45px;
}
td{
    padding-left:10px;
}
#final{
    margin-top:20px;
    background-color: black;
    position: absolute;
    margin-bottom:0px;
    width:99%;
}
.ifooter{
    padding-left:60px;
    width:150px;
    height:40px;
    margin-left:60px;
}
#ifoot1{
    margin-left:-60px;
}